<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">    
    <div class="container">
      <a class="navbar-brand" href="{% url "index"%}">Movieapp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url "index" %}">Anasayfa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "movies" %}">Filmler</a>
          </li>
      </div>
      <form class="d-flex" action="{% url 'index' %}">
        <input class="form-control me-2" type="search" placeholder="Film adı ile ara" aria-label="Ara" name="search">
        <button class="btn btn-outline-success" type="submit">Ara</button>
    </form>
    </div>
  </nav>